.about-section{

  .content{
    max-width: 1200px;
    margin: 0 auto;
    @media(min-width: $screen-md){
      padding: 24px 0
    }
  }
  .overlay{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    @extend .col-sm-6;
    @media(max-width: $screen-xs-max){
      position: relative;
      width: 100%;
      transform: none;
      top: auto;
      max-width: 768px;
      margin: 0 auto;
      h1{
        text-align: center;
      }
    }
  }
}
.two-columns{
  background:white;
  position: relative;
  @media(max-width: $screen-md){
    padding-top: 24px;
    padding-bottom: 24px;
  }
  @media(max-width: $screen-xs-max){
    margin-top: auto;
  }
}
