.browsehappy {
    @include rem(margin, .2, 0);
    @include rem(padding, .2, 0);
    background: $sunglo;
    color: #000;
}

*          { -moz-box-sizing: border-box; box-sizing: border-box; outline: none; }
html, body { width: 100%; height: 100%; }
video 		 { width: 100%;
             height: auto; cursor: pointer; }
body {
	position: relative;
 	font-size: $base__font-size;
 	line-height: $base__line;
 	font-family: $font-family--primary;
 	background: black;
 	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  text-align:center;
  @include rem(padding, 4.8, 0);
  font-size: 18px;
}
nav.main a{
	font-size: 18px;
}

h1 {
	$size : 42px;
	font-family: $font-family--primary;
  font-weight: $font-weight--light;
  font-size: $size;
  line-height: $size + 10;
  margin-bottom: $size;
	color: #ccc;
	@extend %upcase;
  @media(max-width: $screen-sm){
    $size : $size/1.5;
    font-size: $size;
    line-height: $size;
    margin-bottom: $size;
  } 
}

h2 {
	$size : 18px;
  font-family: $font-family--secondary;
  font-weight: $font-weight--light;
  font-size: $size;
  line-height: $size;
  margin-bottom: $size;
	color: #666;
	@extend %upcase;
  @media(max-width: $screen-sm){
    $size : $size/1.5;
    font-size: $size;
    line-height: $size;
    margin-bottom: $size;
  } 
}

