.browsehappy {
    @include rem(margin, .2, 0);
    @include rem(padding, .2, 0);
    background: $sunglo;
    color: #000;
}
.inline-block{
  display: inline-block;
}
* { -moz-box-sizing: border-box; box-sizing: border-box; outline: none; }
html, body { width: 100%; height: 100%; }
section video{
  width: 100% !important;
  height: auto !important; cursor: pointer;
  min-height: 47%;
  min-width: 100%;
  @media(max-width: $screen-sm){
    min-height: 52%;
  }
}
img.fit    { position: relative; margin: 0 auto; display: block; width: 100%; }
svg        { vertical-align: middle; }

body {
	position: relative;
 	font-size: $base__font-size;
 	line-height: 1.45;
 	font-family: $font-family--primary;
 	background: black;
 	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container{
  width: 100%;
  max-width: 1266px;
}
$columns: 1, 2, 3, 4, 5, 6;

@each $column in $columns{
    .column-count--#{$column}{
        column-count: #{$column};
        column-gap: 12px;
    }
}

header {
  text-align: center;
  padding: 0 4%;
  @media(min-width: $screen-md){
    max-width: 1200px;
  }
}

h1 {
	font-family: $font-family--primary;
  font-weight: $font-weight--light;
	color: #ccc;
	@extend %upcase;
}
h2 {
  font-family: $font-family--secondary;
  font-weight: normal;
  color: #666;
  @extend %upcase;
}
h3 {
  font-family: $font-family--secondary;
  font-weight: $font-weight--light;
	color: #666;
	@extend %upcase;
}
h4 {
  font-family: $font-family--secondary;
  font-weight: $font-weight--light;
  color: #666;
  @extend %upcase;
  font-size: 120%;
  margin-bottom: 5px;
  color: #888;
}
.intro-text{
  font-family: $font-family--secondary;
  font-weight: $font-weight--light;
  font-size: 4vw;
  @media(min-width: $screen-lg){
    font-size: 48px;
  }
  @media(max-width: $screen-sm){
    font-size: 6vw;
  }
}
.large-text{
  font-family: $font-family--secondary;
  font-weight: $font-weight--light;
  font-size: 3vw;
  @media(min-width: $screen-lg){
    font-size: 28px;
  }
  @media(max-width: $screen-sm){
    font-size: 4vw;
  }
}
p{
  font-family: $font-family--secondary;
  margin-bottom: 2.2rem;
  font-weight: $font-weight--light;
}

.image-container{
  &.circular{ @extend %circle; }
  img{
    width: 100%;
    max-width: 200px;

    @media(max-width: $screen-sm){
      max-width: 170px;
    }
  }
}
