#bgVid{
	transition: opacity ($base__speed * 2) $base__ease;
	opacity: 0;
	position: fixed;
	right: 0;
	bottom: 0;
	left:0;
	top:0;
	padding: 0;
    min-width: 100%;
    min-height: 100%;

    width: auto;
    height: auto;
    z-index: -100;

    @media(max-width: $screen-md){
    	display:none;
    }
	&:after{
		@extend %pseudos;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -99;
		background: rgba(black, .5);
	}
	&.active{
		opacity: 0.4;
	}
	video{
		position: fixed;
		right: 0;
		bottom: 0;
		left:0;
		top:0;
		padding: 0;
	    min-width: 100%;
	    min-height: 100%;

	    width: auto;
	    height: auto;
		.ipad &{
			display: none;
		}
	}
}
