.btn,.list-group-item{
	transition: all $base__speed $base__ease;
	&.stroke{
		box-shadow: none;
		border: 1px solid rgba(black, 0);
		&.white, &.white a{
			.list-group &{ 
				background: $white;
				color: black;
				&:hover{
					background: $black;
					color: $white;
				}
			}
			color: white;
			&:hover{ border-color: rgba(white, 1);}
			svg path{
				fill: white;
			}
		}
		&.black, &.black a{
			.list-group &{ 
				background: $black;
				color: black;
				&:hover{
					background: $black;
					color: $black;
				}
			}
			color: $black;
			&:hover{ border-color: rgba($black, 1);}
			svg path{
				fill: $black;
			}
		}
		&.grey, &.grey a{
			.list-group &{ 
				background: $grey;
				color: black;
				&:hover{
					background: $black;
					color: $grey;
				}
			}
			color: $grey;
			&:hover{ border-color: rgba($grey, 1);}
			svg path{
				fill: $grey;
			}
		}
		&.emerald, &.emerald a{
			.list-group &{ 
				background: $emerald;
				color: black;
				&:hover{
					background: $black;
					color: $emerald;
				}
			}
			color: $emerald;
			&:hover{ border-color: rgba($emerald, 1);}
			svg path{
				fill: $emerald;
			}
		}
		&.sunglo, &.sunglo a{
			.list-group &{ 
				background: $sunglo;
				color: black;
				&:hover{
					background: $black;
					color: $sunglo;
				}
			}
			color: $sunglo;
			&:hover{ border-color: rgba($sunglo, 1);}
			svg path{
				fill: $sunglo;
			}
		}
	}
}
