/*

Global config

*/

// Font Stacks
$font-url--google        : 'http://fonts.googleapis.com/css?family=Open+Sans:400,700|Open+Sans+Condensed:300)';'

$font-family--primary    : 'Open Sans Condensed', 'Helvetica Neue', Helvetica, Arial, Sans-serif;
$font-family--secondary  : 'Open Sans', 'Helvetica Neue', Helvetica, Arial, Sans-serif;

// Font Weights
$font-weight--light      : 300;
$font-weight--normal     : 400;
$font-weight--bold       : 600;
$font-weight--extra-bold : 800;

