.dock-bottom{
  position: relative;
  width: 100%;
  padding: 2vw;
  clear: both;
  text-align: right;
  color: white;
  background: #222;

  @media(max-width: $screen-sm){
    margin-top: 6vw;
    padding: 6vw 2vw;
    position: relative;
    text-align: center;
  }
}

.logo-joey{
    position: relative;
    padding: 0 10px;
    max-width: 100px;
}
