.dock-bottom{
  position: absolute;
  width: 100%;
  padding: 2vw;
  clear: both;
  text-align: right;
  bottom: 0;
  right: 0;
  color: white;
  background: #222;
  margin-top: 20px;

  @media(max-width: $screen-sm){
    margin-top: 6vw;
    padding: 6vw 2vw;
    position: relative;
    text-align: center;
  }
}

.logo-joey{
    position: relative;
    padding: 0 10px;
    max-width: 100px;
}
