//@import "bigVid";

#intro{
	display: table;
	height: 100%;
	width: 100%;
	padding: 0;
	@extend %upcase;
	transform: translateZ(0);
	color: white;
	font-size: 1.8vw;

	@media(max-width: $screen-md){
		font-size: 2vw;
	}


	h1, h2{
		font-family: $font-family--primary;
		text-shadow: 0 0 8px rgba(#fff, .85);
		letter-spacing: .75rem;
	}

	h1{
		font-size: 6vw;
		color: #ccc;
		@media(max-width: $screen-sm){
			font-size: 12vw;
		}
	}
	h2{
		font-size: 2.5vw;
		@media(max-width: $screen-sm){
			font-size: 5vw;
		}
	}
	a{ }
	.content{
		transition: opacity ($base__speed) $base__ease;
		letter-spacing: 1px;
		text-align: center;
	}

}
