//@import "bigVid";

#intro{
	display: table;
	height: 100%;
	width: 100%;
	padding-top: 0;
	@extend %upcase;
	transform: translateZ(0);
	font-size: 4.5vw;

	h1, h2{
		font-family: $font-family--primary;
		text-shadow: 0 0 8px rgba(#000, .85);
		letter-spacing: .75rem;
	}

	h1{
		font-size: 6vw;
		color: #ccc;
		@media(max-width: $screen-sm){
			font-size: 12vw;
		}
	}
	h2{
		font-size: 2.5vw;
		@media(max-width: $screen-sm){
			font-size: 5vw;
		}
	}
	a{
		transition: all 1800ms $base__ease 1.5s;
		transform: scale(.95);
		box-shadow: inset 0 0 10px rgba(0,0,0,0), 0 0 10px rgba(0,0,0,0);

		&:hover{
			box-shadow: inset 0 0 10px darken(rgba($color-primary, .85), 25%), 0 0 10px darken(rgba($color-primary, .85), 25%);
			border: 1px solid rgba($color-primary, 1);
		}
		&.btn#bgVid-trigger{
			transition-delay: 1s;
			border-radius: 999rem;
			border: 2px solid rgba($color-primary, .25);
			margin-top: 10%;
			text-align: center;

			display: inline-block;
			padding: 15px 30px;
			letter-spacing: 2px;
			&:link, &:hover, &:active{
				transition-delay: 0s;
				border: 2px solid rgba($color-primary, 1);
			}
		}
	}
	.content{
		transition: opacity ($base__speed) $base__ease;
		letter-spacing: 1px;
		text-align: center;
	}

}
