#bgVid{
	transition: opacity ($base__speed * 2) $base__ease;
	opacity: 0;
	position: fixed;
	right: 0;
	bottom: 0;
	left:0;
	top:0;
	padding: 0;
    min-width: 100%;
    min-height: 100%;

    width: auto;
    height: auto;
    z-index: -100;

    @media(max-width: $screen-md){
    	display:none;
    }
	&:after{
		@extend %pseudos;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -99;
		background: rgba(black, .5);
	}
	&.active{
		opacity: 0.4;
	}
	video{
		position: fixed;
		right: 0;
		bottom: 0;
		left:0;
		top:0;
		padding: 0;
	    min-width: 100%;
	    min-height: 100%;

	    width: auto;
	    height: auto;
		.ipad &{
			display: none;
		}
	}
}
#intro{
	background: none;
	display: table;
	height: 100%;
	width: 100%;
	padding-top: 0;
	@extend %upcase;
	-webkit-transform: translateZ(0);
	
	.container-fluid{
		vertical-align: middle;
		display: table-cell;
		text-align: center;
	}
	h1, h2{
		font-family: $font-family--primary;
		text-shadow: 0 0 8px rgba(#000, .85);
	}

	h1, h2, a{
		transition: opacity ($base__speed * 5) $base__ease 1s, transform ($base__speed * 5) $base__ease 1s;
		transform: translateY(100%);
		opacity: 0;
		&.active{
			transform: translateY(0%);
			opacity: 1;
		}	
	}
	a{
		transition: opacity ($base__speed * 8) $base__ease 1s, border-color $base__speed, box-shadow $base__speed;
		box-shadow: inset 0 0 10px rgba(0,0,0,0), 0 0 10px rgba(0,0,0,0);
		&.active{
			opacity: 1;
		}
		&:hover{
			box-shadow: inset 0 0 10px darken(rgba($color-primary, .85), 25%), 0 0 10px darken(rgba($color-primary, .85), 25%);
			border: 1px solid rgba($color-primary, 1);
		}
		&.btn#bgVid-trigger{
			border-radius: 999rem;
			border: 2px solid rgba($color-primary, .25);
			margin-top: 10%;
			text-align: center;
			position: relative;
			display: inline-block;
			font-size: 150%;
			padding: 15px 30px;
			&:hover{
				border: 2px solid rgba($color-primary, 1);
			}
		}
	}
	.content{
		transition: opacity ($base__speed) $base__ease;
		letter-spacing: 1px;
		text-align: center;
	}
	
}