.navbar-inverse {
	border: none;
	@media(max-width: $screen-sm){
		background: none;
	}
	.navbar-nav > li > a{
		transition: color $base__speed $base__ease;
		outline: none;
	}
}

nav[role="navigation"]{
	text-transform: uppercase;
	width: 100%;
	margin-bottom: 0;
	z-index: 50;
	.navbar-brand{
		color: rgba($grey,0);
		transition: padding ($base__speed), color ($base__speed * 5), background-color ($base__speed * 5);
		background-color: rgba(black, 0);
	}
	&.affix-top{
		position: absolute;
		bottom: 0;
		top: auto;
		padding: 20px 0;
	}
	&.affix{
		position: fixed;
		top:0;
		bottom: auto;
		background-color: rgba(black, .7);
		.navbar-brand{
			color: rgba($grey, 1);
		}
	}
}

/*

Collapsing Mobile Menu

*/
.navbar-collapse{
	overflow-y: hidden;
	&.in{
		overflow-y: visible;
	}
	.navbar-nav{
		float: right;
	}
	@media(max-width:$screen-sm){
		padding: 0;
		.navbar-nav{
			margin: 8px 0;
			float: none !important;
			width: 100%;
			li{
				text-align: center;
			}
		}
		
		@media (max-width: $screen-xs){
			.navbar-nav{
				margin: 3% 0;
					a{
						padding: 14% 0;
						font-size: 150%;
						letter-spacing: 0.4rem;
					}
			
			}	
		}
	}
}



@media(min-width: $screen-sm){
	.navbar {
		background: transparent;
    	transition: background $base__speed $base__ease, padding $base__speed $base__ease;
    	border-bottom: none;
	}
	.top-nav-collapse {
		background: rgba(#000, .85);
	    padding: 0;
	}	
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
	color: $color-primary;
	background-color: rgba(darken($color-primary, 20%), .15)
}