/*

Module: Tags

*/
.tags{
    padding: 0;
    margin-left: 0;
    list-style: none;
    text-align: left;
    .tag, li{
        display: inline-block;
        padding: 0.6rem 1.2rem;
        margin: 0 0.1rem 0.5rem 0;
        border: .25rem solid $purple-majesty;
        color: #ccc;
        border-radius: 999rem;
        white-space: nowrap;
        font-size: 80%;
        @media(max-width: $screen-md){
            font-size: 80%;
            padding: 0.7rem 1.4rem;
            border-width: 2px;
            
        }
    }
}