$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

@import "config";
@import "base";
@import "helpers";
@import "utilities";



body{
	position: relative;
}
nav.main{
	text-transform: uppercase;
}
@media(min-width: $screen-sm){
	.navbar {
		background: #000;
    	@include rem(padding, 2, 0);
    	transition: background $base__speed $base__ease, padding $base__speed $base__ease;
    	border-bottom: none;
	}
	.top-nav-collapse {
	    padding: 0;
	}	
}



section {

	position: relative;
    height: 100%;
    @include rem(padding-top, 15);
    text-align: center;
    background: #fff;
	
    &:nth-child(odd){
    	background: #ddd;
    	color: #222;
    }
    &:nth-child(even){
    	background: #111;
    	color: #ccc;
    }
    .content{
    	@extend .col-lg-12;
    }
    .image-container{
		
    }
}
#bgVid{
	position: fixed;
	right: 0;
	bottom: 0;

    min-width: 100%;
    min-height: 100%;

    width: auto;
    height: auto;
    z-index: -100;

    background: url(../images/bg_video-placeholder.png) no-repeat;

    background-size: cover;

}
#intro{
	background: none;
	display: table;
	height: 100%;
	width: 100%;
	padding-top: 0;
	.container{
		vertical-align: middle;
		display: table-cell;
		text-align: center;
		@include rem(padding, 0, 2.5 0);
	}
	h1, h2{
		text-transform: uppercase;
	}
}
.services-section{
	.col{
		@extend .col-sm-4;
	}
}
