$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

@import "config";
@import "utilities";
@import "base";
@import "helpers";

@import "svgicons";
@import "nav";
@import "buttons";
.container-fluid{
    max-width: 1200px;
}
section {

	position: relative;
    height: auto;
    padding: 8% 0;
    text-align: center;
    background: #fff;
	
    &:nth-child(even){
    	background: #fff;
    	color: #222;
    	h1{
    		color: #666;
    	}
    }
    &:nth-child(odd){
    	background: #111;
    	color: #ccc;
    }
    .content{
    	@extend .col-lg-12;
    	@extend %clearfix;
        p, blockquote{
            &:last-child{
                margin-bottom: 0;
            }
        }
        & > p{
            margin-left: auto;
            margin-right: auto;
            max-width: 500px;
        }
    }
}

@import "intro";
.about-section{
    // .content{
    //     @extend .col-sm-
    // }
}
.services-section{
	.col{
        @extend .col-md-3;
		@extend .col-sm-4;
        @media(max-width: $screen-sm){
            margin-bottom: 10%;
            &:last-child{
                margin-bottom: 0;
            }
        }
	}
    .image-container{
        img{
            width: 100%;
        }
    }
    .arrow{
        @extend .col-sm-1;
        height: 200px;
        svg{
            position: absolute;
            
            left: 25%;

            @media(min-width: $screen-sm){
                top: 30%;
            }
            @media(min-width: $screen-md){
                top: 41%;
            }
        }
        @media(max-width: $screen-md){
            display: none;
        }
    }
    .image-container{
        @extend %circle;
    }
}
.work-section{
	video{
        position: relative;
		border-radius: 8px;
		background-size: cover;
		box-shadow: 0 0 0px 2px darken($color-primary, 60%);
		transition: box-shadow $base__speed $base__ease;
        &:after{
            @extend %pseudos;
            top: 0; right: 0; left:0; bottom: 0;
            content: "Play Video";
            background: darken(rgba($color-primary, .85), 20%);
        }
		&.active{
			box-shadow: 0 0 0px 2px #000;
		}
	}
}
.carousel{
    line-height: 0;
    .carousel-control{
        .carousel-arrow{
            position: absolute;
            top: 50%;
            margin-top: -20px;
            height: 40px;
            &.left{
                transform: rotate(180deg);
                left: 50%;
                margin-left: -20px;
            }
            &.right{
                right: 50%;
                margin-right: -20px;
            }
        }
    }
}
