extends layout

block content
	#bgVid
		video(autoplay loop muted)
			source(src="videos/SmokeLoopSlow.mp4" type="video/mp4")
			source(src="videos/SmokeLoopSlow.webm" type="video/webm")
			source(src="videos/SmokeLoopSlow.ogv" type="video/ogg")
	//- Intro Section
	section#intro.intro-section
		.container-fluid
			.content
				h1 Macarena<br>Carrizosa
				h2 Filmmaker
				a.btn.btn-lg.stroke.sunglo.page-scroll#bgVid-trigger(href="#work") View Work	
	
	//- About Section
	section#about.about-section
		.container-fluid
			.row
				header
					h2 My moves are better <br> than the dance
			.row
				.content
					img(class="fit" src="images/the-macarena.gif" style="max-width: 500px;margin-bottom:30px" alt="When I introduce myself people dance for me.")
				
					p
						|	Hi, I'm Macarena.
					p
						| I'm a filmmaker living in Brooklyn 
						| working on various film/video/TV projects. 
						| I’ve worked extensively in the field, in studio environments for both camera and lighting departments. I'm passionate about communication 
						| and I found the way to do it through the camera’s lens.   
					p
						a.page-scroll(href="#contact") Feel free to contact me <br> about freelance or full-time opportunities.
	//- Work Section
	section#work.work-section
		.container-fluid
			.row
				header
					h2 Work
			.row
				#work-gallery.carousel.slide
					.carousel-inner
						.item.active
							.row
								.col-md-12
									.container-fluid
										video(controls poster="images/bg_video-reel-placeholder.jpg")
											source(src="videos/Reel_MacarenaCarrizosa.webm" type="video/webm")
											source(src="videos/Reel_MacarenaCarrizosa.mp4" type="video/mp4")
											source(src="videos/Reel_MacarenaCarrizosa.ogv" type="video/ogg")
								.col-sm-12.col-md-10.center-block
									.col-sm-12
										.col-sm-6
											.col-xxs-12.col-xs-6.col-sm-12
												h4.content-title--project PROJECT
												p.content-title--project-copy Director & Producer Reel
											.col-xxs-12.col-xs-6.col-sm-12
												h4.content-title--date DATE
												p.content-title--date-copy 2014
										.col-sm-6
											.col-xxs-12.col-xs-6.col-sm-12
												h4.content-title--description DESCRIPTION
												p.content-copy--description These are projects that I directed and produced. Depending on the project’s need I would shoot and edit them myself as well or gather and organize a crew.

						.item
							.row
								.col-md-12
									.container-fluid
										video(controls poster="images/bg_video-BrooklynMitsubishi-placeholder.jpg")
											source(src="videos/BrooklynMitsubishiServiceCenterCommercial.webm" type="video/webm")
											source(src="videos/BrooklynMitsubishiServiceCenterCommercial.mp4" type="video/mp4")
											source(src="videos/BrooklynMitsubishiServiceCenterCommercial.ogg" type="video/ogg")
								.col-sm-12.col-md-11.center-block
									.col-sm-6.col-xs-12.nopadding
											.col-sm-12.nopadding
												.col-xxs-12.col-xs-6.col-sm-12
													h4.content-title--project PROJECT
													p.content-title--project-copy Brooklyn Mitsubishi Spot
												.col-xxs-12.col-xs-6.col-sm-12
													h4.content-title--company Production Company
													p.content-title--company-copy Triple Eight Productions
												.col-xs-12
													h4.content-title--tags TAGS
													ul.tags
														li Arri Lights
														li Kino Lights
														li Gaffer
														li Advertising
									.col-sm-6.col-xs-12
											.col-sm-12.nopadding
												.col-sm-12.hidden-xs
													h4.content-title--project Client
													p.content-title--project-copy Brooklyn Mitsubishi
									
												.col-sm-12.hidden-xs
													h4.content-title--date DATE
													p.content-title--date-copy 2013
										
												.col-sm-12.hidden-xs
													h4.content-title--description DESCRIPTION
													p.content-copy--description I worked as Gaffer in this project with Arri and Kino lights.

						.item
							.row
								.col-md-12
									.container-fluid
										video(controls poster="images/bg_video-PersonalEstamosCurados-placeholder.jpg")
											source(src="videos/PersonalEstamosCurados.webm" type="video/webm")
											source(src="videos/PersonalEstamosCurados.mp4" type="video/mp4")
											source(src="videos/PersonalEstamosCurados.ogv" type="video/ogg")
								.col-sm-12.col-md-11.center-block
									.col-sm-6.col-xs-12.nopadding
											.col-sm-12.nopadding
												.col-xxs-12.col-xs-6.col-sm-12
													h4.content-title--project PROJECT
													p.content-title--project-copy Curados
												.col-xxs-12.col-xs-6.col-sm-12
													h4.content-title--company Production Company
													p.content-title--company-copy Synchro Image
												.col-xs-12
													h4.content-title--tags TAGS
													ul.tags
														li Sony PWF-55
														li Camera Assistant
														li Advertising
									.col-sm-6.col-xs-12
											.col-sm-12.nopadding
												.col-sm-12.hidden-xs
													h4.content-title--project Client
													p.content-title--project-copy N&uacute;cleo S.A.
									
												.col-sm-12.hidden-xs
													h4.content-title--date DATE
													p.content-title--date-copy 2013
										
												.col-sm-12.hidden-xs
													h4.content-title--description DESCRIPTION
													p.content-copy--description I worked as 2AC in this project directed by award winning cinematographer Richard Careaga and produced by his company. 
						.item
							.row
								.col-md-12
									.container-fluid
										video(controls poster="images/bg_video-SuenolarEpocas-placeholder.jpg")
											source(src="videos/Suenolar-epocas.webm" type="video/webm")
											source(src="videos/Suenolar-epocas.mp4" type="video/mp4")
											source(src="videos/Suenolar-epocas.ogv" type="video/ogg")
								.col-sm-12.col-md-11.center-block
									.col-sm-6.col-xs-12.nopadding
											.col-sm-12.nopadding
												.col-xxs-12.col-xs-6.col-sm-12
													h4.content-title--project PROJECT
													p.content-title--project-copy La Evolución del Sueño
												.col-xxs-12.col-xs-6.col-sm-12
													h4.content-title--company Production Company
													p.content-title--company-copy El Bagre Productora
												.col-xs-12
													h4.content-title--tags TAGS
													ul.tags
														li Red Scarlett
														li Camera Assistant
														li Advertising
									.col-sm-6.col-xs-12
											.col-sm-12.nopadding
												.col-sm-12.hidden-xs
													h4.content-title--project Client
													p.content-title--project-copy Sue&ntilde;olar
									
												.col-sm-12.hidden-xs
													h4.content-title--date DATE
													p.content-title--date-copy 2013
										
												.col-sm-12.hidden-xs
													h4.content-title--description DESCRIPTION
													p.content-copy--description I worked as AC in this project produced by one of the top production companies in Paraguay.
						
						
						
						//- .item
						//- 	.row
						//- 		.content.video
						//- 			.row
						//- 				.col-md-12
											video(controls poster="images/bg_video-SuenolarEpocas-placeholder.jpg")
												source(src="videos/Suenolar-epocas.webm" type="video/webm")
												source(src="videos/Suenolar-epocas.mp4" type="video/mp4")
												source(src="videos/Suenolar-epocas.ogv" type="video/ogg")
						//- 			.row
						//- 				.col-sm-5
						//- 					h4.content-title--project PROJECT
						//- 					p.content-title--project-copy La Evolución del Sueño
										
						//- 				.col-sm-4
						//- 					h4.content-title--company Production Company
						//- 					p.content-title--company-copy El Bagre Productora
						//- 				.col-sm-3
						//- 					h4.content-title--gear GEAR
						//- 					p.content-title--gear-copy Red Scarlett

						//- 		.content.copy
						//- 			.row
						//- 				.col-sm-5
						//- 					h4.content-title--project Client
						//- 					p.content-title--project-copy Sueñolar
						//- 				.colm
						//- 					h4.content-title--date DATE
						//- 					p.content-title--date-copy 2013

						//- 					h4.content-title--description DESCRIPTION
						//- 					p.content-copy--description I worked as AC in this project produced by one of the top production companies in Paraguay.- 					h4.co12tent-title-
						//- 					ul.tags
						//- 						li Camera Assistant
						//- 						li Advertising		
		include ./includes/arrows.jade
		
	//- Services Section
	section#services.services-section
		.container-fluid
			.row
				header
					h2 Services
					h3 Have a project in mind? <br> Tell me about it and let’s make it happen.
			.row
				.col
					.image-container
						img(alt="placeholder image" src="images/me_with-red-camera.png")
					h4 Production
					p.
						I can handle budget, gathering crew, casting, rehearsing, and directing 
						according to the needs of the project.
				.col
					.image-container
						img(alt="placeholder image" src="images/me_event-coverage.png")
					h4 Event Coverage
					p.
						I can cover your event from pre to post production including the equipment, shooting and editing.
				.col
					.image-container
						img(alt="placeholder image" src="images/me_with-crew.png")
					h4 Crew
					p.
						I have extensive experience as Camera Assistant 
						and Gaffer for every type of audiovisual production.

	section#contact.contact-section
		.container-fluid
			.row
				header
					h2 Want to work together<br>or just say hola?
			.row
				.col-md-6.col-md-offset-3
					ul.list-group
						li.list-group-item.stroke.emerald 
							a(href="https://www.linkedin.com/in/macarenacarrizosa") 
								.flip
									.card
										.face.front Endorse Me
										.face.back on LinkedIn
						li.list-group-item.stroke.emerald 
							a(href="mailto:mc@macarena.productions?subject=Hello!") 
								.flip
									.card
										.face.front Send Email
										.face.back mc@macarena.productions
						li.list-group-item.stroke.emerald#contact-section--phone
							a(href="tel:3476748286") 
								.flip
									.card
										.face.front Call Me	
										.face.back (347) 674-8286
				.dock-bottom.
					Built by <a href="http://j0ey.co"><img class="logo-joey" src="images/logo_joey.png" alt="This site was built by JOEY"></a>				
