extends layout

block content
	#bgVid
		video(autoplay loop muted)
			source(src="videos/SmokeLoopSlow.mp4" type="video/mp4")
			source(src="videos/SmokeLoopSlow.webm" type="video/webm")
			source(src="videos/SmokeLoopSlow.ogv" type="video/ogg")
	//- Intro Section
	section#intro.intro-section
		.vert-center
			.container-fluid
				.content
					h1 Macarena<br>Carrizosa
					h2 Filmmaker
					a.btn.btn-lg.stroke.sunglo.page-scroll#bgVid-trigger(href="#work") View Reel	
	//- About Section
	section#about.about-section
		.vert-center
			.container-fluid
				.row
					.content
						p.
							I am a filmmaker/producer based in NYC. I work  in all types of audiovisual 
							productions including Narrative Films, Documentaries, Music Videos and Commercials.

						p.
							Originally a business woman, I studied Business Administration in the American 
							University of Paraguay and specialized in Business Management in the 
							Ecole Supérieure de Commerce de Montpellier in  France. I also have a diploma in 
							Performing Arts and Filmmaking from the New York Film Academy.
						
						p.
							I dedicated the first half of my career to project management and consulting in 
							different fields such as Non-Profit, Advertising and Commercial. I got additional 
							training through intensive workshops and business seminars in fields that would 
							make me the best leader and communicator such as coaching, leadership, writing, 
							speech, etiquette, and customer service. 

						p.
							I was introduced to filmmaking while shooting a commercial for a client. I fell 
							in love with the production process and realized the power of this communication 
							tool. Since then I have been through almost all departments including Directing, 
							AD, Camera, Lighting, Grip, Sound and Production. Combining my solid technical, 
							managerial and communication skills with my innate creativity I am now a unique 
							asset for any audiovisual project. 						

						p
							a.page-scroll(href="#contact") Contact Me
	//- Work Section
	section#work.work-section
		.vert-center
			.container-fluid
				.row
					header
						h2 Reel
				.row
					#work-gallery.carousel.slide
						.carousel-inner
							.item.active
								.row
									.col-md-12
										.container-fluid
											video(controls poster="images/bg_video-reel-placeholder.jpg")
												source(src="videos/Reel_MacarenaCarrizosa.webm" type="video/webm")
												source(src="videos/Reel_MacarenaCarrizosa.mp4" type="video/mp4")
												source(src="videos/Reel_MacarenaCarrizosa.ogv" type="video/ogg")
									.col-sm-12.col-md-11.center-block
										.col-sm-12.nopadding
											.col-sm-6
												.col-xxs-12.col-xs-6.col-sm-12
													h4.content-title--project PROJECT
													p.content-title--project-copy Director & Producer Reel
												.col-xxs-12.col-xs-6.col-sm-12
													h4.content-title--date DATE
													p.content-title--date-copy 2014
											.col-sm-6
												.col-xxs-12.col-xs-6.col-sm-12
													h4.content-title--description DESCRIPTION
													p.content-copy--description These are projects that I directed and produced. Depending on the project’s need I would shoot and edit them myself as well or gather and organize a crew.
							//- .item
							//- 	.row
							//- 		.col-md-12
							//- 			.container-fluid
							//- 				video(controls preload="none" poster="images/bg_video-BrooklynMitsubishi-placeholder.jpg")
							//- 					source(src="videos/BrooklynMitsubishiServiceCenterCommercial.webm" type="video/webm")
							//- 					source(src="videos/BrooklynMitsubishiServiceCenterCommercial.mp4" type="video/mp4")
							//- 					source(src="videos/BrooklynMitsubishiServiceCenterCommercial.ogg" type="video/ogg")
							//- 		.col-sm-12.col-md-11.center-block
							//- 			.col-sm-6.col-xs-12.nopadding
							//- 					.col-sm-12.nopadding
							//- 						.col-xxs-12.col-xs-6.col-sm-12
							//- 							h4.content-title--project PROJECT
							//- 							p.content-title--project-copy Brooklyn Mitsubishi Spot
							//- 						.col-xxs-12.col-xs-6.col-sm-12
							//- 							h4.content-title--company Production Company
							//- 							p.content-title--company-copy Triple Eight Productions
							//- 						.col-xs-12
							//- 							h4.content-title--tags TAGS
							//- 							ul.tags
							//- 								li Arri Lights
							//- 								li Kino Lights
							//- 								li Gaffer
							//- 								li Advertising
							//- 			.col-sm-6.col-xs-12
							//- 					.col-sm-12.nopadding
							//- 						.col-sm-12.hidden-xs
							//- 							h4.content-title--project Client
							//- 							p.content-title--project-copy Brooklyn Mitsubishi
										
							//- 						.col-sm-12.hidden-xs
							//- 							h4.content-title--date DATE
							//- 							p.content-title--date-copy 2013
											
							//- 						.col-sm-12.hidden-xs
							//- 							h4.content-title--description DESCRIPTION
							//- 							p.content-copy--description I worked as Gaffer in this project with Arri and Kino lights.
							//- .item
							//- 	.row
							//- 		.col-md-12
							//- 			.container-fluid
							//- 				video(controls preload="none" poster="images/bg_video-PersonalEstamosCurados-placeholder.jpg")
							//- 					source(src="videos/PersonalEstamosCurados.webm" type="video/webm")
							//- 					source(src="videos/PersonalEstamosCurados.mp4" type="video/mp4")
							//- 					source(src="videos/PersonalEstamosCurados.ogv" type="video/ogg")
							//- 		.col-sm-12.col-md-11.center-block
							//- 			.col-sm-6.col-xs-12.nopadding
							//- 					.col-sm-12.nopadding
							//- 						.col-xxs-12.col-xs-6.col-sm-12
							//- 							h4.content-title--project PROJECT
							//- 							p.content-title--project-copy Curados
							//- 						.col-xxs-12.col-xs-6.col-sm-12
							//- 							h4.content-title--company Production Company
							//- 							p.content-title--company-copy Synchro Image
							//- 						.col-xs-12
							//- 							h4.content-title--tags TAGS
							//- 							ul.tags
							//- 								li Sony PWF-55
							//- 								li Camera Assistant
							//- 								li Advertising
							//- 			.col-sm-6.col-xs-12
							//- 					.col-sm-12.nopadding
							//- 						.col-sm-12.hidden-xs
							//- 							h4.content-title--project Client
							//- 							p.content-title--project-copy N&uacute;cleo S.A.
										
							//- 						.col-sm-12.hidden-xs
							//- 							h4.content-title--date DATE
							//- 							p.content-title--date-copy 2013
											
							//- 						.col-sm-12.hidden-xs
							//- 							h4.content-title--description DESCRIPTION
							//- 							p.content-copy--description I worked as 2AC in this project directed by award winning cinematographer Richard Careaga and produced by his company. 
							//- .item
							//- 	.row
							//- 		.col-md-12
							//- 			.container-fluid
							//- 				video(controls preload="none" poster="images/bg_video-SuenolarEpocas-placeholder.jpg")
							//- 					source(src="videos/Suenolar-epocas.webm" type="video/webm")
							//- 					source(src="videos/Suenolar-epocas.mp4" type="video/mp4")
							//- 					source(src="videos/Suenolar-epocas.ogv" type="video/ogg")
							//- 		.col-sm-12.col-md-11.center-block
							//- 			.col-sm-6.col-xs-12.nopadding
							//- 					.col-sm-12.nopadding
							//- 						.col-xxs-12.col-xs-6.col-sm-12
							//- 							h4.content-title--project PROJECT
							//- 							p.content-title--project-copy La Evolución del Sueño
							//- 						.col-xxs-12.col-xs-6.col-sm-12
							//- 							h4.content-title--company Production Company
							//- 							p.content-title--company-copy El Bagre Productora
							//- 						.col-xs-12
							//- 							h4.content-title--tags TAGS
							//- 							ul.tags
							//- 								li Red Scarlett
							//- 								li Camera Assistant
							//- 								li Advertising
							//- 			.col-sm-6.col-xs-12
							//- 					.col-sm-12.nopadding
							//- 						.col-sm-12.hidden-xs
							//- 							h4.content-title--project Client
							//- 							p.content-title--project-copy Sue&ntilde;olar
										
							//- 						.col-sm-12.hidden-xs
							//- 							h4.content-title--date DATE
							//- 							p.content-title--date-copy 2013
											
							//- 						.col-sm-12.hidden-xs
							//- 							h4.content-title--description DESCRIPTION
							//- 							p.content-copy--description I worked as AC in this project produced by one of the top production companies in Paraguay.
							
							//- .item
							//- 	.row
							//- 		.col-md-12
							//- 			.container-fluid
							//- 				video(controls preload="none" poster="images/bg_video-PersonalEstamosCurados-placeholder.jpg")
							//- 					source(src="videos/PersonalEstamosCurados.webm" type="video/webm")
							//- 					source(src="videos/PersonalEstamosCurados.mp4" type="video/mp4")
							//- 					source(src="videos/PersonalEstamosCurados.ogv" type="video/ogg")
							//- 		.col-sm-12.col-md-11.center-block
							//- 			.col-sm-6.col-xs-12.nopadding
							//- 					.col-sm-12.nopadding
							//- 						.col-xxs-12.col-xs-6.col-sm-12
							//- 							h4.content-title--project PROJECT
							//- 							p.content-title--project-copy Curados
							//- 						.col-xxs-12.col-xs-6.col-sm-12
							//- 							h4.content-title--company Production Company
							//- 							p.content-title--company-copy Synchro Image
							//- 						.col-xs-12
							//- 							h4.content-title--tags TAGS
							//- 							ul.tags
							//- 								li Sony PWF-55
							//- 								li Camera Assistant
							//- 								li Advertising
							//- 			.col-sm-6.col-xs-12
							//- 					.col-sm-12.nopadding
							//- 						.col-sm-12.hidden-xs
							//- 							h4.content-title--project Client
							//- 							p.content-title--project-copy N&uacute;cleo S.A.
										
							//- 						.col-sm-12.hidden-xs
							//- 							h4.content-title--date DATE
							//- 							p.content-title--date-copy 2013
											
							//- 						.col-sm-12.hidden-xs
							//- 							h4.content-title--description DESCRIPTION
							//- 							p.content-copy--description I worked as 2AC in this project directed by award winning cinematographer Richard Careaga and produced by his company. 
							//- .item
							//- 	.row
							//- 		.col-md-12
							//- 			.container-fluid
							//- 				video(controls preload="none" poster="images/bg_video-SuenolarEpocas-placeholder.jpg")
							//- 					source(src="videos/Suenolar-epocas.webm" type="video/webm")
							//- 					source(src="videos/Suenolar-epocas.mp4" type="video/mp4")
							//- 					source(src="videos/Suenolar-epocas.ogv" type="video/ogg")
							//- 		.col-sm-12.col-md-11.center-block
							//- 			.col-sm-6.col-xs-12.nopadding
							//- 					.col-sm-12.nopadding
							//- 						.col-xxs-12.col-xs-6.col-sm-12
							//- 							h4.content-title--project PROJECT
							//- 							p.content-title--project-copy La Evolución del Sueño
							//- 						.col-xxs-12.col-xs-6.col-sm-12
							//- 							h4.content-title--company Production Company
							//- 							p.content-title--company-copy El Bagre Productora
							//- 						.col-xs-12
							//- 							h4.content-title--tags TAGS
							//- 							ul.tags
							//- 								li Red Scarlett
							//- 								li Camera Assistant
							//- 								li Advertising
							//- 			.col-sm-6.col-xs-12
							//- 					.col-sm-12.nopadding
							//- 						.col-sm-12.hidden-xs
							//- 							h4.content-title--project Client
							//- 							p.content-title--project-copy Sue&ntilde;olar
										
							//- 						.col-sm-12.hidden-xs
							//- 							h4.content-title--date DATE
							//- 							p.content-title--date-copy 2013
											
							//- 						.col-sm-12.hidden-xs
							//- 							h4.content-title--description DESCRIPTION
							//- 							p.content-copy--description I worked as AC in this project produced by one of the top production companies in Paraguay.
																
			
	//- include ./includes/arrows.jade
		
	//- Services Section
	section#services.services-section
		.vert-center
			.container-fluid
				.row
					header
						h2 Services
						h3 Have a project in mind? <br> Tell me about it and let’s make it happen.
				.row
					.col-md-6.center-block.margin-bottom-60
						.image-container
							img(alt="Production/Project Management" src="images/me_with-red-camera.png")
						h4 Production/Project Management
						p.
							I will be with you the whole way from script breakdown, to budgeting, gathering crew, casting, rehearsing, shooting, and post. 
							Need a line producer? We can also take it from there.
				.row
					.col-md-6.center-block.margin-bottom-60
						.image-container
							img(alt="Directing" src="images/me_event-coverage.png")
						h4 Directing
						p.
							Need a unique perspective for your project? Tell me what you have in mind and let’s join forces. I have extensive training in 
							acting in order to get the best results from talent. My technical skills and crafted leadership will guide the crew to capture 
							only magical moments through the lens and mics.
				.row
					.col-md-6.center-block.margin-bottom-60
						.image-container
							img(alt="Consulting" src="images/services_consulting.png")
						h4 Consulting
						p.
							We’ll create a solid base for your business to grow and direct all actions to achieve specific goals in the most efficient way. 
							Proceeding through the whole process according to the company’s philosophy and values which will translate as consistent 
							excellence in customer experience and satisfaction. 

	section#contact.contact-section
		.vert-center
			.container-fluid
				.row
					header
						h2 Want to work together<br>or just say hola?
				.row
					.col-md-6.col-md-offset-3
						ul.list-group
							li.list-group-item.stroke.emerald 
								a(href="https://www.linkedin.com/in/macarenacarrizosa") 
									.flip
										.card
											.face.front Endorse Me
											.face.back on LinkedIn
							li.list-group-item.stroke.emerald 
								a(href="mailto:mc@macarena.productions?subject=Hello!") 
									.flip
										.card
											.face.front Send Email
											.face.back mc@macarena.productions
							li.list-group-item.stroke.emerald#contact-section--phone
								a(href="tel:3476748286") 
									.flip
										.card
											.face.front Call Me	
											.face.back (347) 674-8286
					.dock-bottom.
						Built by <a href="http://j0ey.co"><img class="logo-joey" src="images/logo_joey.png" alt="This site was built by JOEY"></a>				
