extends layout

block content
	//- Intro Section
	section#intro.intro-section
		.position-absolute.fill-screen
			.embed-container
				video(autoplay loop muted)
					source(src="videos/bench_looping_background.mp4" type="video/mp4")
					//- source(src="videos/SmokeLoopSlow.webm" type="video/webm")
					//- source(src="videos/SmokeLoopSlow.ogv" type="video/ogg")

		.position-absolute.fill-screen.tint-screen
			.position-absolute.position-top
			.position-absolute.position-bottom
			.position-absolute.fill-screen
				.Aligner
					.Aligner-item
						.container-fluid
							.content
								h1 Dalia
								h2 A Film about Love and Violence in the City
								a.btn.btn-lg.stroke.emerald.page-scroll#bgVid-trigger(href="#donate") Help Our Kickstarter
	//- About Section
	section#about.about-section(style="padding-top:0")
		.vert-center
			img(src="images/dahlia-rooftop-1.jpg" width="100%")
			.container-fluid(style="background:white; margin-top: -10vh; position: relative;")
				.row
					h1.section-title.text-left
						| About the Film
					.content
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam id dignissim ante. Duis nec ipsum non nisl lacinia aliquet at sed eros. Vivamus mollis egestas magna, ac tincidunt dolor vehicula in. Nunc vitae sem congue, egestas urna sit amet, varius urna. Sed elementum enim sed ex feugiat ultrices. Proin auctor augue blandit, iaculis metus ut, pretium libero. Donec a volutpat sem. Duis lectus purus, posuere vel tristique in, malesuada commodo mauris. Pellentesque eros leo, fringilla nec congue sed, varius vel tortor. Donec diam lacus, blandit nec varius id, fringilla ut ante. Ut eget vehicula odio, non rutrum quam. Duis faucibus ipsum id varius vehicula. Quisque vel interdum nulla.

						p In nibh ex, pellentesque quis elementum eget, lacinia ac lorem. Morbi vestibulum tincidunt orci ultrices consectetur. Aliquam et semper augue. Phasellus vel mi diam. Nulla nunc mi, interdum vitae velit eget, rutrum ullamcorper lectus. Donec sed fringilla velit, malesuada pulvinar diam. Aenean at blandit leo. Quisque at leo id velit laoreet luctus eget vitae massa. Integer consectetur eros at augue venenatis, at dictum nisl laoreet. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque sapien felis, suscipit ac purus sit amet, lacinia auctor lacus.

						p In lacinia enim ut mauris auctor, nec pulvinar odio dictum. Integer nec justo nec elit eleifend placerat sed eget diam. Suspendisse aliquam diam a libero dignissim, id elementum erat iaculis. Aliquam erat volutpat. In id nisl vulputate, tempus dolor vel, ultricies ex. Cras venenatis cursus lectus sed placerat. Integer molestie, dui sit amet semper accumsan, dolor sem euismod odio, quis cursus quam mauris eget urna. Duis finibus, leo eget bibendum consequat, arcu nisi pretium sapien, vitae suscipit sem eros luctus lectus. Suspendisse varius mi id mollis lacinia. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;

						p Donec facilisis, eros eget viverra ornare, urna quam sodales erat, a fermentum nulla est et arcu. Nunc ullamcorper ante ut augue posuere, non pretium diam sagittis. Aliquam lacinia mattis aliquet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris feugiat non massa rhoncus fermentum. In at lectus at eros commodo tincidunt. Donec dignissim est vel diam eleifend suscipit. Nullam ullamcorper congue ipsum, nec malesuada mi egestas et. Vivamus libero elit, sodales in neque at, pulvinar varius sem. Suspendisse potenti.

						p
							a.page-scroll(href="#contact") Contact Me
	//- Updates Section
	section#updates.updates-section
		.vert-center
			.container-fluid
				.row
					header
						h2 Updates
	//- Donate Section
	section#donate.donation-section
		.vert-center
			.container-fluid
				.row
					header
						h2 Donate Section							
	//- Services Section
	section#services.services-section
		.vert-center
			.container-fluid
				.row
					header
						h2 Services
						h3 Have a project in mind?
						br
						| Tell me about it and let’s make it happen.
				.row
					.col-md-6.center-block.margin-bottom-60
						.image-container
							img(alt="Production/Project Management" src="images/me_with-red-camera.png")
						h4 Production/Project Management
						p
							|	I will be with you the whole way from script breakdown, to budgeting, gathering crew, casting, rehearsing, shooting, and post.
							| Need a line producer? We can also take it from there.
				.row
					.col-md-6.center-block.margin-bottom-60
						.image-container
							img(alt="Directing" src="images/me_event-coverage.png")
						h4 Directing
						p
							| Need a unique perspective for your project? Tell me what you have in mind and let’s join forces. I have extensive training in
							| acting in order to get the best results from talent. My technical skills and crafted leadership will guide the crew to capture
							| only magical moments through the lens and mics.
				.row
					.col-md-6.center-block.margin-bottom-60
						.image-container
							img(alt="Consulting" src="images/services_consulting.png")
						h4 Consulting
						p.
							We’ll create a solid base for your business to grow and direct all actions to achieve specific goals in the most efficient way.
							Proceeding through the whole process according to the company’s philosophy and values which will translate as consistent
							excellence in customer experience and satisfaction.

	section#contact.contact-section
		.vert-center
			.container-fluid
				.row
					header
						h2 Want to work together<br>or just say hola?
				.row
					.col-md-6.col-md-offset-3
						ul.list-group
							li.list-group-item.stroke.emerald
								a(href="https://www.linkedin.com/in/macarenacarrizosa")
									.flip
										.card
											.face.front Endorse Me
											.face.back on LinkedIn
							li.list-group-item.stroke.emerald
								a(href="mailto:mc@macarena.productions?subject=Hello!")
									.flip
										.card
											.face.front Send Email
											.face.back mc@macarena.productions
							li.list-group-item.stroke.emerald#contact-section--phone
								a(href="tel:3476748286")
									.flip
										.card
											.face.front Call Me
											.face.back (347) 674-8286
					.dock-bottom.
						Built by <a href="http://j0ey.co"><img class="logo-joey" src="images/logo_joey.png" alt="This site was built by JOEY"></a>
