extends layout

block content
	video(autoplay muted loop poster="images/bg_video-placeholder.png" id="bgVid")
		source(src="videos/Reel_MacarenaCarrizosa.webm" type="video/webm")
		source(src="videos/Reel_MacarenaCarrizosa.mp4" type="video/mp4")
	//- Intro Section
	section#intro.intro-section
		.container
			.content
				h1 Macarena Carrizosa
				h2 Director &amp; Producer

	//- About Section
	section#about.about-section
		.container
			.row
				.content
					blockquote.
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Aliquam molestie condimentum justo rutrum aliquam. 
						Nulla convallis imperdiet sollicitudin. Donec nibh mauris, 
						mollis ac sodales eget, faucibus quis lorem. Morbi semper.

		
	//- Services Section
	section#services.services-section
		.container
			.row
				.content
					h1 Services Section
			.row
				.col
					.image-container
						img(src="http://placehold.it/200x200")
					h2 Service Category 1
					p.
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Aliquam molestie condimentum justo rutrum aliquam. 
						Nulla convallis imperdiet sollicitudin.
				.col
					.image-container
						img(src="http://placehold.it/200x200")
					h2 Service Category 2
					p.
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Aliquam molestie condimentum justo rutrum aliquam. 
						Nulla convallis imperdiet sollicitudin.
				.col
					.image-container
						img(src="http://placehold.it/200x200")
					h2 Service Category 3
					p.
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Aliquam molestie condimentum justo rutrum aliquam. 
						Nulla convallis imperdiet sollicitudin.

					
	
	//- Contact Section
	section#contact.contact-section
		.container
			.row
				.content
					h1 Contact Section

	//- Footer
	//- footer.main
	//- 	.container-fluid
	//- 		.pull-right
	//- 			p |Made by 
	//- 			a(href="http://j0ey.co") 
	//- 			| Joey
