extends layout

block content
	video#bgVid(autoplay loop muted poster="images/bg_video-placeholder.png")
		source(src="videos/SmokeLoopSlow.mp4" type="video/mp4")
		source(src="videos/SmokeLoopSlow.webm" type="video/webm")
		source(src="videos/SmokeLoopSlow.ogv" type="video/ogg")
	//- Intro Section
	section#intro.intro-section
		.container
			.content
				h1 Macarena Carrizosa
				h2 Director &amp; Producer
				a.btn.btn-lg.stroke.sunglo.page-scroll#bgVid-trigger(href="#work") View Work	

	//- Work Section
	section#work.work-section
		.container
			.row
				.content
					h1 Work
					video(poster="images/bg_video-reel-placeholder.png")
						source(src="videos/Reel_MacarenaCarrizosa.webm" type="video/webm")
						source(src="videos/Reel_MacarenaCarrizosa.mp4" type="video/mp4")
						source(src="videos/Reel_MacarenaCarrizosa.ogv" type="video/ogg")

	//- Services Section
	section#services.services-section
		.container
			.row
				.content
					h1 I know what it takes to bring a concept to life
			.row
				.col
					.image-container
						img(src="http://placehold.it/200x200/ffcc00")
					h2 Concepting
					p.
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Aliquam molestie condimentum justo rutrum aliquam. 
						Nulla convallis imperdiet sollicitudin.
				.arrow
					svg(width="40px" height="40px" viewBox="0 0 20 20")
						path(fill="none" d="M1.729,9.212h14.656l-4.184-4.184c-0.307-0.306-0.307-0.801,0-1.107c0.305-0.306,0.801-0.306,1.106,0l5.481,5.482c0.018,0.014,0.037,0.019,0.053,0.034c0.181,0.181,0.242,0.425,0.209,0.66c-0.004,0.038-0.012,0.071-0.021,0.109c-0.028,0.098-0.075,0.188-0.143,0.271c-0.021,0.026-0.021,0.061-0.045,0.085c-0.015,0.016-0.034,0.02-0.051,0.033l-5.483,5.483c-0.306,0.307-0.802,0.307-1.106,0c-0.307-0.305-0.307-0.801,0-1.105l4.184-4.185H1.729c-0.436,0-0.788-0.353-0.788-0.788S1.293,9.212,1.729,9.212z")
				.col
					.image-container
						img(src="http://placehold.it/200x200/ccff00")
					h2 Shooting
					p.
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Aliquam molestie condimentum justo rutrum aliquam. 
						Nulla convallis imperdiet sollicitudin.
				.arrow
					svg(width="40px" height="40px" viewBox="0 0 20 20")
						path(fill="none" d="M1.729,9.212h14.656l-4.184-4.184c-0.307-0.306-0.307-0.801,0-1.107c0.305-0.306,0.801-0.306,1.106,0l5.481,5.482c0.018,0.014,0.037,0.019,0.053,0.034c0.181,0.181,0.242,0.425,0.209,0.66c-0.004,0.038-0.012,0.071-0.021,0.109c-0.028,0.098-0.075,0.188-0.143,0.271c-0.021,0.026-0.021,0.061-0.045,0.085c-0.015,0.016-0.034,0.02-0.051,0.033l-5.483,5.483c-0.306,0.307-0.802,0.307-1.106,0c-0.307-0.305-0.307-0.801,0-1.105l4.184-4.185H1.729c-0.436,0-0.788-0.353-0.788-0.788S1.293,9.212,1.729,9.212z")
				.col
					.image-container
						img(src="http://placehold.it/200x200/00ccff")
					h2 Delivery
					p.
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Aliquam molestie condimentum justo rutrum aliquam. 
						Nulla convallis imperdiet sollicitudin.

	//- About Section
	section#about.about-section
		.container
			.row
				.content
					blockquote.
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Aliquam molestie condimentum justo rutrum aliquam. 
						Nulla convallis imperdiet sollicitudin. Donec nibh mauris, 
						mollis ac sodales eget, faucibus quis lorem. Morbi semper.
				
	
	//- Contact Section
	section#contact.contact-section
		.container
			.row
				.content
					h1 Contact Section

	//- Footer
	//- footer.main
	//- 	.container-fluid
	//- 		.pull-right
	//- 			p |Made by 
	//- 			a(href="http://j0ey.co") 
	//- 			| Joey
