extends layout

block content
	//- Intro Section
	section#intro.intro-section
		.position-absolute.fill-screen
			.embed-container
				video(autoplay loop muted)
					source(src="videos/bench_looping_background.mp4" type="video/mp4")
					//- source(src="videos/SmokeLoopSlow.webm" type="video/webm")
					//- source(src="videos/SmokeLoopSlow.ogv" type="video/ogg")

		.position-absolute.fill-screen.tint-screen
			.position-absolute.position-top
			.position-absolute.position-bottom
			.position-absolute.fill-screen
				.Aligner
					.Aligner-item
						.container-fluid
							.content
								h1 Dalia
								h2 An experimental short film that explores the story of a domestic violence victim in a new perspective
								a.btn.btn-lg.stroke.emerald.page-scroll#bgVid-trigger(href="#donate") Help Our Kickstarter
	//- About Section
	section#about.about-section(style="padding-top:0")
		.vert-center
			.position-relative
				img(src="images/dahlia-rooftop-1.jpg" width="100%")
				.overlay
					.content
						h1.section-title About
						p Mandy (Anies Castillo) faces one of her husband's violent outbreaks when she is discovered with her suitcases packed to leave him. As she is beaten up memories of her past flood her mind.
						

			.container-fluid.two-columns
				hr.visible-xs-block.visible-sm-block
				.content
					.row
						.col-sm-6
								h2 Synopsis
								p Mandy gets ready to leave her husband, Noel, after 3 years of being in an abusive relationship with him. She holds her baby Ali and picks up her bags when she hears Noel coming home early. When he realizes what is happening Mandy faces the most dangerous moment of her life. Memories of her past come to her mind and she suffers from what might be the most violent outbreak she’s been through. Will Mandy succeed in the battle against her fears, love and husband’s fist?
						.col-sm-6
								h2 Our approach
								p Our goal is to dive into Mandy’s psychology in such depth that when we show her memories the viewer feels the way she felt. This means understanding her attraction and relationship with Noel by being seduced by his charm when they meet, emphasizing with his vulnerabilities, and ending up trapped in an unhealthy relationship. 
								p We take our role as filmmakers in society very responsibly and want to make a piece that will make a difference in creating awareness about this subject in the most accurate way we can. 					
	section#contact.contact-section
		.vert-center
			.container-fluid
				.row
					header
						h2 Want to work together<br>or just say hola?
				.row
					.col-md-6.col-md-offset-3
						ul.list-group
							li.list-group-item.stroke.emerald
								a(href="https://www.linkedin.com/in/macarenacarrizosa")
									.flip
										.card
											.face.front Endorse Me
											.face.back on LinkedIn
							li.list-group-item.stroke.emerald
								a(href="mailto:mc@macarena.productions?subject=Hello!")
									.flip
										.card
											.face.front Send Email
											.face.back mc@macarena.productions
							li.list-group-item.stroke.emerald#contact-section--phone
								a(href="tel:3476748286")
									.flip
										.card
											.face.front Call Me
											.face.back (347) 674-8286
					.dock-bottom.
						Built by <a href="http://j0ey.co"><img class="logo-joey" src="images/logo_joey.png" alt="This site was built by JOEY"></a>
