extends layout

block content
	//- Intro Section
	section#intro.intro-section
		.position-fixed.fill-screen
			.embed-responsive.embed-responsive-16by9.fade-to-white.hidden-md.hidden-sm.hidden-xs
				video(class="embed-responsive-item" autoplay loop muted)
					source(src="videos/bench_looping_background.mp4" type="video/mp4")
			#intro-bg.position-absolute.fill-screen.fade-to-white.visible-md.visible-sm.visible-xs(style="background-image: url(images/dahlia-rooftop-1.jpg)")
			.position-absolute.fill-screen.tint-screen(style="top:0")
				.position-absolute.fill-screen
					.Aligner
						.Aligner-item
							.container
								.content
									h1 Dahlia
									h2 An experimental short film that explores the story of a domestic violence victim in a new perspective
									a.btn.btn-lg.stroke.page-scroll.bgVid-trigger(href="#take-action") Make it Happen with Us
	//- About Section
	section#about.about-section(style="padding-top:0")
		.vert-center
			.container
				.row.position-relative
					.responsive-media
						img(src="images/dahlia-rooftop-1.jpg" width="100%")
					a.display-block.position-absolute.fill-parent.playButton--container(data-toggle="modal" data-target="#videoModal" data-theVideo="http://www.youtube.com/embed/kqi5ovm0qZg?rel=0&autoplay=1&controls=0&modestbranding=1&showinfo=0&theme=light")
						.position-absolute.fill-parent.tint-screen
						.col-sm-12.col-md-7.col-md-push-5.vert-middle
							.btn-playButton
								svg(id="play-svg" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="90px" height="90px" viewBox="0 0 90 90" style="enable-background:new 0 0 90 90;" xml:space="preserve")
									path(d="M90,26.958C90,19.525,83.979,13.5,76.55,13.5h-63.1C6.021,13.5,0,19.525,0,26.958v36.084 C0,70.475,6.021,76.5,13.45,76.5h63.1C83.979,76.5,90,70.475,90,63.042V26.958z M36,60.225V26.33l25.702,16.947L36,60.225z")

			.container.two-columns.depth-container
				.row.position-relative
					.col-sm-12.col-md-6.col-lg-5
						.overlay-content.depth-container.bg-white
							h2.section-title About the film
							p Mandy (Anies Castillo) faces one of her husband's violent outbreaks when she is discovered with her suitcases packed to leave him. As she is beaten up memories of her past flood her mind.
				hr.visible-xs-block.visible-sm-block
				.content
					.row
						.col-sm-12
							.col-sm-6
								h2 Synopsis
								p Mandy gets ready to leave her husband, Noel, after 3 years of being in an abusive relationship with him. She holds her baby Ali and picks up her bags when she hears Noel coming home early. When he realizes what is happening Mandy faces the most dangerous moment of her life. Memories of her past come to her mind and she suffers from what might be the most violent outbreak she’s been through. Will Mandy succeed in the battle against her fears, love and husband’s fist?
							.col-sm-6
								h2 Our approach
								p Our goal is to dive into Mandy’s psychology in such depth that when we show her memories the viewer feels the way she felt. This means understanding her attraction and relationship with Noel by being seduced by his charm when they meet, emphasizing with his vulnerabilities, and ending up trapped in an unhealthy relationship. 
								p We take our role as filmmakers in society very responsibly and want to make a piece that will make a difference in creating awareness about this subject in the most accurate way we can. 					
	
	section#team.team-section
		.container
			.row
				header.page-header
					h2 THE TEAM
					.intro-text We are filmmakers who believe in the power of entertainment in creating awareness and inspiring people throughout the whole world.

		.container
			.row
				.col-xs-12
					.col-md-4.col-sm-6
						.text-center
							figure.image-container.circular
								img(src="images/profile-anies.jpg")
						header
							h3 Anies Castillo
							h4 Author / Mandy
						main
							p Anies Castillo is an actress and a writer based in New York City. 
							p She grew up in the Dominican Republic and has been acting ever since she can remember. In 2008 she moved to the US to pursue bigger opportunities and to continue to grow as an artist. Anies has had the pleasure of participating in two Telemundo productions, such as El Fantasma de Elena, and Corazon Valiente.
							p She started writing Dahlia back in 2013, and as she got deeper and deeper into the research, the story and the characters both really hit home, and it became a story that she felt had to be told and be shared with the world. 
					
					.col-md-4.col-sm-6
						.text-center
							figure.image-container.circular
								img(src="images/profile-macarena.jpg")
						header
							h3 Macarena Carrizosa
							h4 Director 
						main
							p Macarena Carrizosa is a director/producer based in NYC.
							p She started her career in the entertainment industry by studying acting with a Theatre Group in Paraguay and practicing photography. After attaining her business degrees in Paraguay and France she came to NYC to further her capabilities by studying Filmmaking at the New York Film Academy, over a year of acting training with Anthony Abeson and workshops at the Acting Studio. Her sensitivity is translated into her work as she focuses all creative choices to awaken specific emotions from the audience. 
							p Since the beginning of her film career, she has been through almost all film departments including Directing, AD, Camera, Lighting, Grip, Sound and Production in Commercials, Music Videos, Short Films, Documentaries and Feature Films in the US and abroad. 
					
					.col-md-4.col-sm-6.col-sm-offset-3.col-md-offset-0
						.text-center
							figure.image-container.circular
								img(src="images/profile-michelle.jpg")
						header
							h3 Michelle Polanco
							h4 Producer
						main
							p Michelle Polanco was born and raised in New York City. 
							p Growing up, Michelle mostly focused on academics. Her calling for the arts however, was never forgotten. Michelle used modeling, drawing, and acting as her creative outlets. In time, she found herself immersing in production as a host, writer, creative director, producer and project manager for various projects. 
							p Her passion for production compelled her to change the course of her life.  In 2014, Michelle Polanco founded PureVida Media Productions. PureVida Media Productions is dedicated to creating empowering and uplifting content, that increases confidence, personal power and taking action. Michelle enjoys creating something out nothing that can bring value and shower  a new perspective. Being able to bring an idea or story to life has captivated her.

	section#take-action.cta-section 
		.vert-center
			.container
				.row
					.col-sm-12.depth-container.bg-white.content
						header
							h2 CALL TO ACTION
							.large-text Want to join our efforts and get an amazing perk?  #[a(href="#contact" class="page-scroll") Send us an email] with the message "Making it Happen" and we will let you know when our Fundraising Campaign is out.
							br
							.large-text If you feel there's something else you can help us with or want to give us feedback, tell us what’s on your mind. And please don’t forget to share the link and spread the love!
							br
							.large-text(style="margin-top:20px") Ready to support Dahlia now? Wow! Thank You :) Select from the options below.
							form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top' class="form-support")
								input(type='hidden', name='cmd', value='_s-xclick')
								input(type='hidden', name='hosted_button_id', value='77TSJNPLQPSKY')
								table(align='center' style="margin-bottom: 20px;")
									tr
										td
											input(type='hidden', name='on0', value='Support Amounts')
											| Support Amounts
									tr
										td
											select(name='os0')
												option(value='Sponsor (Business) Category 1') Sponsor (Business) Category 1 $775.00 USD
												option(value='Sponsor (Business) Category 2') Sponsor (Business) Category 2 $1,550.00 USD
												option(value='Sponsor (Business) Category 3') Sponsor (Business) Category 3 $2,575.00 USD
												option(value='Sponsor (Organization) Category 1') Sponsor (Organization) Category 1 $675.00 USD
												option(value='Sponsor (Organization) Category 2') Sponsor (Organization) Category 2 $1,290.00 USD
												option(value='Sponsor (Organization) Category 3') Sponsor (Organization) Category 3 $2,525.00 USD
												option(value='Associate producer') Associate producer $1,030.00 USD
												option(value='Co-Producer') Co-Producer $1,750.00 USD
												option(value='Executive Producer') Executive Producer $2,750.00 USD
								input(type='hidden', name='currency_code', value='USD')
								input(type='image', src='images/btn_SupportDahliaMovie.png', border='0', name='submit', alt='PayPal - The safer, easier way to pay online!')
								img(alt='', border='0', src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif', width='1', height='1')

	section#contact.contact-section
		.vert-center
			.container
				.row
					header
						h2 Contact Us
						#msgSubmit(class="h3 text-center hidden text-success") Message Submitted!
				.row(style="margin-top: 4rem")
					.col-md-6.col-md-offset-3
					
						form(id="form-contact" method="post" action="http://formspree.io/info@dahliamovie.com")
							.row
								.form-group.col-sm-12
									label(for="email" class="h4") Email
									input(type="email" class="form-control" id="contact-form--email" placeholder="Enter your email" required)
							.row
								.form-group.col-sm-12
									label(for="message" class="h4") Message
									textarea(id="contact-form--body" name="body" class="form-control" placeholder="Enter your message" required)
							.row
								.form-group.col-sm-12
									input(type="submit" id="form-submit" class="btn btn-success btn-lg pull-right" value="Send")
	.dock-bottom
		| Built by <a href="http://j0ey.co"><img class="logo-joey" src="images/logo_joey.png" alt="This site was built by JOEY"></a>
	.modal.fade#videoModal(tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true")
		.embed-responsive.embed-responsive-16by9
			iframe(width="100%" height="350" src="" frameBorder="0")
		button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
