doctype html
html.no-js
	head
		title Macarena Carrizosa - Filmmaker
		meta(charset='utf-8')
		//- For Google
		meta(name="description" content="The work and services of filmmaker Macarena Carrizosa.")
		meta(name="keywords" content="Filmmaker, portfolio, photographer, producer, director, gaffer, videos, fawesome, New York, Brooklyn, NYC")
		meta(name="author" content="J0EY.co")
		meta(name="copyright" content="2014")
		meta(name="application-name" content="Macarena Carrizosa - Filmmaker")

		//- For Facebook
		meta(property="article:author" content="J0EY")
		meta(property="article:publisher" content="http://j0ey.co")
		meta(property="og:title" content="Macarena Carrizosa - Filmmaker")
		meta(property="og:type" content="article")
		meta(property="og:image" content="images/me_with-red-camera.png")
		meta(property="og:url" content="http://macarena.productions")
		meta(property="og:description" content="The work and services of filmmaker Macarena Carrizosa.")

		//- For Twitter
		meta(name="twitter:card" content="summary")
		meta(name="twitter:title" content="Macarena Carrizosa - Filmmaker")
		meta(name="twitter:description" content="The work and services of filmmaker Macarena Carrizosa.")
		meta(name="twitter:image" content="images/me_with-red-camera.png")

		meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
		meta(name="apple-mobile-web-app-status-bar-style" content="black")
		
		link(rel="image_src" href="images/me_with-red-camera.png")
		link(rel="apple-touch-icon" href="apple-touch-icon-precomposed.png")
		link(rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72-precomposed.png")
		link(rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114-precomposed.png")
		link(rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-144x144-precomposed.png")
		
		// build:css styles/main.css
		link(rel='stylesheet' href='styles/main.css')
		// endbuild

		// build:js scripts/vendor/modernizr.js
		script(src='../bower_components/modernizr/modernizr.js')
		// endbuild

	body(data-spy='scroll' data-target='.navbar-fixed-top')
		//- Insert Facebook recomment script:
		div#fb-root <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&appId=242451495933588&version=v2.0"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>

		| <!--[if lt IE 10]>
		|	<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		| <![endif]-->

		include ./includes/nav
		
		block content
		// Google Analytics: change UA-XXXXX-X to be your site's ID.
		script.
			(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
			function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
			e=o.createElement(i);r=o.getElementsByTagName(i)[0];
			e.src='http://www.google-analytics.com/analytics.js';
			r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
			ga('create','UA-55665812-1');ga('send','pageview');
		
		// build:js scripts/vendor.js
		// bower:js
		script(src='../bower_components/jquery/dist/jquery.js')
		script(src='scripts/vendor/jquery.scrolling-nav.js')
		// endbower
		// endbuild

		// build:js scripts/plugins.js
		script(src='../bower_components/jquery.easing/js/jquery.easing.min.js')
		script(src='../bower_components/isMobile/isMobile.min.js')
		script(src='../bower_components/jquery.visible/jquery.visible.min.js')
		script(src='../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/affix.js')		
		script(src='../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/transition.js')
		script(src='../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/button.js')
		script(src='../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/carousel.js')
		script(src='../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/scrollspy.js')
		script(src='../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js')
		// endbuild

		// build:js scripts/main.js
		script(src='scripts/main.js')
		// endbuild

