html
  body
    // About Section
    section#about.about-section
      .container
        .row
          .col-lg-12
            h1 About Section
    // Services Section
    section#services.services-section
      .container
        .row
          .col-lg-12
            h1 Services Section
    // Contact Section
    section#contact.contact-section
      .container
        .row
          .col-lg-12
            h1 Contact Section
