nav.navbar(role='navigation')
	.navbar-header.page-scroll
		button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
			span.sr-only Toggle navigation
			.inline-block
				span.icon-bar
				span.icon-bar
				span.icon-bar
			span.toggle-text MENU
		a.navbar-brand.page-scroll(href='#intro') Dahlia: The Film
	.collapse.navbar-collapse.navbar-ex1-collapse
		ul.nav.navbar-nav
			//- Hidden li included to remove active class from about link when scrolled up past about section
			li.hidden
				a.page-scroll(href='#')
			li.hidden-sm.hidden-md.hidden-lg
				a.page-scroll(href='#intro') Home
			li
				a.page-scroll(href='#about') About
			li
				a.page-scroll(href='#team') Team
			li
				a.page-scroll(href='#take-action') Take Action
			li
				a.page-scroll(href='#contact') Contact
